
.jumbotron {
    background-image: url("./Image/PCC.png");
    background-size: cover;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(194, 194, 194);
    color: white;
    text-align: center;
    padding: 8px;

 }
 
 body {
    background-image: url("./Image/PACPAC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
 }